.icons8Sedan1001 {
  height: 125px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.icons8Sedan1001Wrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0 11px;
}
.someText {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.frameParent {
  height: 163px;
  width: 184px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 22px 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: "Work Sans";
}
@media screen and (max-width: 900px) {
  .someText {
    font-size: 26px;
  }
}
@media screen and (max-width: 450px) {
  .someText {
    font-size: 19px;
  }
}
