.frameChild {
  height: 48px;
  width: 48px;
  position: relative;
  background-color: #d9d9d9;
}
.menuitem {
  position: relative;
  display: inline-block;
  min-width: 118px;
}
.menuitemWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4px 0 0;
}
.collections {
  position: relative;
}
.collectionsWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4px 0 0;
}
.bestsellers {
  flex: 1;
  position: relative;
}
.dailywear {
  position: relative;
  display: inline-block;
  min-width: 114px;
}
.collectionsMenu,
.collectionsMenuWrapper {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.collectionsMenu {
  align-self: stretch;
  flex-direction: row;
  gap: 28px;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: "Work Sans";
}
.collectionsMenuWrapper {
  width: 586px;
  flex-direction: column;
  padding: 10px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.landingPageInner,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangleParent {
  width: 1142px;
  justify-content: space-between;
  gap: 20px;
}
.landingPageInner {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 7px;
  box-sizing: border-box;
}
.someCoolHeading {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frameItem {
  height: 604px;
  width: 1700px;
  position: absolute;
  margin: 0 !important;
  top: -158px;
  left: -1091px;
  object-fit: cover;
}
.loremIpsumDolor,
.rectangleGroup {
  flex: 1;
  position: relative;
  max-width: 100%;
}
.loremIpsumDolor {
  height: 317px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper,
.landingPage,
.someCoolHeadingParent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 6px;
  max-width: 100%;
  font-size: 32px;
}
.landingPage,
.someCoolHeadingParent {
  flex-direction: column;
}
.someCoolHeadingParent {
  width: 621px;
  align-items: flex-start;
  padding: 0 0 37px;
  gap: 12px;
  max-width: 100%;
}
.landingPage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-end;
  padding: 55px 30px 45px;
  gap: 119px;
  letter-spacing: normal;
  text-align: left;
  font-size: 64px;
  color: #fff;
  font-family: "Work Sans";
}
@media screen and (max-width: 900px) {
  .someCoolHeading {
    font-size: 51px;
  }
  .loremIpsumDolor {
    font-size: 26px;
  }
  .landingPage {
    gap: 59px 119px;
  }
}
@media screen and (max-width: 675px) {
  .collectionsMenuWrapper {
    display: none;
  }
  .rectangleParent {
    width: 556px;
  }
}
@media screen and (max-width: 450px) {
  .someCoolHeading {
    font-size: 38px;
  }
  .loremIpsumDolor {
    font-size: 19px;
  }
  .landingPage {
    gap: 30px 119px;
  }
}
